body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.login-container h1 {
  margin-bottom: 10px;
  color: #ad2521;
}

.login-container p {
  margin-bottom: 30px;
  color: #555;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background: #ad2521;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.login-container button:hover {
  background: #8f1f1b;
}

.dashboard-container {
  padding: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.view-btn {
  padding: 6px 12px;
  background-color: #ad2521;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-btn:hover {
  background-color: #8f1f1b;
}

.add-client-form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.add-client-form input,
.add-client-form select {
  padding: 8px;
}

.add-client-form button {
  background-color: #ad2521;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 4px;
}

.add-client-form button:hover {
  background-color: #8f1f1b;
}


select {
  padding: 6px;
  border-radius: 4px;
}

textarea {
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.view-btn {
  padding: 6px 12px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Status colors */
.view-in-progress {
  background-color: #007bff; /* blue */
}

.view-accepted {
  background-color: #28a745; /* green */
}

.view-pending {
  background-color: #fd7e14; /* orange */
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  opacity: 0.85;
}
